a {
  @include transition(0.6s);
  @include font-height(14, 18);
  text-decoration: none;
  color: $brand-dark-green;

  &:hover,
  &:focus {
    color: $brand-green;
    text-decoration: none;
  }

  &:focus {
    .no-touch & {
      outline: none;
    }
  }
}

a:link,
button {
  -webkit-tap-highlight-color: rgba($brand-green, 0.35);
  -moz-tap-highlight-color: rgba($brand-green, 0.35);
}

button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  min-height: 3.375rem;
  height: auto;
  color: inherit;
  cursor: pointer;
  text-align: center;
  @include transition(0.6s);

  &:focus,
  &:visited {
    outline: none;
    border: none;
    box-shadow: unset;
  }
}

button[disabled] {
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;
}

.btn {
  @include transition(0.6s);
  @include font-height(14.5, 14);
  border-radius: 0.25rem;
  padding: 20px 40px;
  letter-spacing: 0.05em;
  font-weight: 600 !important;
  background-color: transparent;
  color: $brand-white;
  border: none;
  cursor: pointer;
  position: relative;
  @include flex_row_center_nowrap;
  text-align: center;
  max-width: 100%;
  box-shadow: 0px 0px 0px transparent;
  text-decoration: none !important;

  &:hover,
  &:focus {
    text-decoration: none !important;
    outline: none;
    border: none;
    box-shadow: unset;

    .no-touch & {
      outline: none;
      border: none;
      box-shadow: unset;
    }
  }
}

.btn-md {
  min-height: 2.875rem;
  @include font-height(13, 14);
  padding: 18px 34px;
}

.attach-btn {
  @include breakpoint-down(sm) {
    min-height: 3rem;

    .text {
      font-size: 13.5px !important;
    }
  }
}

.btn-primary {
  background-color: $brand-green !important;
  color: $brand-white !important;

  &:hover,
  &:focus {
    background-color: $brand-dark-green !important;
  }

  &:disabled {
    background-color: #c5ebd8 !important;
  }
}

.btn-secondary {
  background-color: $brand-cloudy-green !important;
  color: $brand-accent-green !important;

  &:hover,
  &:focus {
    background-color: $brand-off-green !important;
  }

  &:disabled {
    background-color: #f3fff9 !important;
    color: #90caad !important;
  }
}

.btn-red {
  background-color: $brand-red !important;
  color: $brand-white !important;

  &:hover,
  &:focus {
    background-color: $deep-red !important;
  }

  &:disabled {
    background-color: #f3fff9 !important;
    color: #90caad !important;
  }
}

.btn-cloudy {
  background-color: $brand-cloudy-green !important;
  color: $brand-dark-green !important;

  &:hover,
  &:focus {
    background-color: $brand-dark-green !important;
    color: $brand-cloudy-green !important;
  }

  &:disabled {
    background-color: #f3fff9 !important;
    color: #90caad !important;
  }
}

.btn-outline {
  border: 1px solid $brand-dark-blue !important;
  color: $brand-dark-blue !important;

  &:hover,
  &:focus {
    border: 1px solid #013e53 !important;
    color: #013e53 !important;
  }

  &:disabled {
    border: 1px solid #a5c9d6 !important;
    color: #a5c9d6 !important;
  }
}

// BREADCRUMB
.breadcrumb-bar {
  @include flex-row-start-nowrap;
  @include font-height(14, 25);
  margin-bottom: 22px;
  color: $light-dark-text;

  @include breakpoint-down(sm) {
    @include font-height(13, 25);
  }

  .bar {
    @include flex-row-start-nowrap;
    margin-right: 8px;

    .icon {
      position: relative;
      top: 1px;
      color: $light-dark-text;
      font-size: 13px;
    }
  }
}

// PAGINATION
.pagination-row {
  @include flex-row-between-wrap;

  .left {
    @include flex-row-start-nowrap;
    padding-right: 30px;

    .select-page-item {
      position: relative;
      @include font-height(13.5, 24);
      font-weight: 500;
      padding: 5px 0px;
      margin-right: 16px;

      @include breakpoint-down(sm) {
        @include font-height(12.75, 22);
      }

      span {
        position: relative;
        font-size: 18px;
        top: 2.25px;

        @include breakpoint-down(sm) {
          font-size: 17px;
        }
      }
    }

    .pagination-text {
      @include font-height(13.5, 24);

      @include breakpoint-down(sm) {
        @include font-height(12.75, 22);
      }
    }
  }

  .right {
    position: relative;
    @include flex-row-end-nowrap;

    @include breakpoint-custom-down(827) {
      margin-top: 15px;
      margin-bottom: 15px !important;
    }

    @include breakpoint-custom-down(578) {
      margin-top: 0px;
    }

    @include breakpoint-custom-down(565) {
      margin-top: 15px;
      margin-bottom: 20px !important;
    }

    .nav {
      padding: 7px;
      min-width: 24px;
      border-radius: 4px;
      cursor: pointer;
      color: $light-dark-text;
      @include transition(0.4s);

      @include breakpoint-down(sm) {
        padding: 6px;
        min-width: 22px;
      }

      .icon {
        font-size: 18.5px;
        font-weight: 600;

        @include breakpoint-down(sm) {
          font-size: 17.75px;
        }
      }

      .nav-text {
        @include font-height(13.75, 24);
        position: relative;
        top: -0.5px;
      }

      &:hover {
        background: rgba($brand-cloudy-green, 0.7);
      }
    }

    .paging {
      @include flex-row-center-nowrap;
      @include font-height(14, 25);
      color: $dark-text;

      .page-input {
        @include rectangle-shape(42, 21);
        padding: 15px 8px
      }

      .page-btn {
        @include rectangle-shape(30, 26);
        @include font-height(12.75, 15);
        padding: 15px 20px;
      }

    }

    .error-text {
      position: absolute;
      left: 12px;
      top: 44px;
      @include font-height(12, 16);
      color: $brand-red;
      font-weight: 600;
    }
  }
}